<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.craniumproperty.repository.AgentRepository">
    <resultMap type="agent" id="result">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="description" column="description" />
        <result property="experience" column="experience" />
        <result property="agencyId" column="agency_id" />
        <result property="bannerName" column="banner_name" />
        <result property="bannerLink" column="banner_link" />
        <result property="profileName" column="profile_name" />
        <result property="profileLink" column="profile_link" />
        <result property="email" column="email" />
        <result property="phoneNumber" column="phone_number" />
        <result property="createdAt" column="created_at" />
        <result property="createdBy" column="created_by" />
        <result property="updatedAt" column="updated_at" />
        <result property="updatedBy" column="updated_by" />
        <result property="deleted" column="deleted" />
        <result property="deletedAt" column="deleted_at" />
        <result property="deletedBy" column="deleted_by" />
    </resultMap>

    <select id="findAll" resultType="agent" resultMap="result">
        SELECT * FROM agents
    </select>

    <insert id="insert" parameterType="agent"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO agents(name, username, password, description, 
                            experience, agency_id, banner_name, banner_link, 
                            profile_name, profile_link, email, phone_number, 
                            created_at, created_by, updated_at, updated_by, 
                            deleted, deleted_at, deleted_by)
        VALUES(#{name}, #{username}, #{password}, #{description}, #{experience}, 
                        #{agencyId}, #{bannerName}, #{bannerLink}, #{profileName}, 
                        #{profileLink}, #{email}, #{phoneNumber}, #{createdAt}, 
                        #{createdBy}, #{updatedAt}, #{updatedBy}, #{deleted}, 
                        #{deletedAt}, #{deletedBy})
    </insert>

    <update id="update" parameterType="agent">
        UPDATE agents SET name = #{name}, username = #{username}, password = #{password},
                            description = #{description}, experience = #{experience},
                            agency_id = #{agencyId}, banner_name = #{bannerName},
                            banner_link = #{bannerLink}, profile_name = #{profileName},
                            profile_link = #{profileLink}, email = #{email},
                            phone_number = #{phoneNumber}, created_at = #{createdAt},
                            created_by = #{createdBy}, updated_at = #{updatedAt},
                            updated_by = #{updatedBy}, deleted = #{deleted},
                            deleted_at = #{deletedAt}, deleted_by = #{deletedBy}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM agents WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="int"
            resultType="agent" resultMap="result">
        SELECT * FROM agents WHERE id = #{id}
    </select>
</mapper>