<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.craniumproperty.repository.ReviewRepository">
    <resultMap type="review" id="result">
        <id property="id" column="id" />
        <result property="agentId" column="agent_id" />
        <result property="propertyId" column="property_id" />
        <result property="userId" column="user_id" />
        <result property="agencyId" column="agency_id" />
        <result property="category" column="category" />
        <result property="description" column="description" />
        <result property="rating" column="rating" />
        <result property="verifyAdminId" column="verify_admin_id" />
        <result property="createdAt" column="created_at" />
        <result property="createdBy" column="created_by" />
        <result property="updatedAt" column="updated_at" />
        <result property="updatedBy" column="updated_by" />
        <result property="deleted" column="deleted" />
        <result property="deletedAt" column="deleted_at" />
        <result property="deletedBy" column="deleted_by" />
    </resultMap>

    <select id="findAll" resultType="review" resultMap="result">
        SELECT * FROM review
    </select>

    <insert id="insert" parameterType="review"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO review(agent_id, property_id, user_id, agency_id, 
                            category, description, rating, verify_admin_id, 
                            created_at, created_by, updated_at, updated_by, 
                            deleted, deleted_at, deleted_by)
        VALUES(#{agentId}, #{propertyId}, #{userId}, #{agencyId}, #{category}, 
                        #{description}, #{rating}, #{verifyAdminId}, #{createdAt}, 
                        #{createdBy}, #{updatedAt}, #{updatedBy}, #{deleted}, 
                        #{deletedAt}, #{deletedBy})
    </insert>

    <update id="update" parameterType="review">
        UPDATE review SET agent_id = #{agentId}, property_id = #{propertyId}, user_id = #{userId},
                            agency_id = #{agencyId}, category = #{category},
                            description = #{description}, rating = #{rating},
                            verify_admin_id = #{verifyAdminId}, created_at = #{createdAt},
                            created_by = #{createdBy}, updated_at = #{updatedAt},
                            updated_by = #{updatedBy}, deleted = #{deleted},
                            deleted_at = #{deletedAt}, deleted_by = #{deletedBy}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM review WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="int"
            resultType="review" resultMap="result">
        SELECT * FROM review WHERE id = #{id}
    </select>
</mapper>